<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

<head>
<title>lr.bib</title>
</head>

<body>
<h1>lr.bib</h1><p><a name="rode_klos_rajchel_szczesniak_chalasinski:2005"></a><pre>
@ARTICLE{rode_klos_rajchel_szczesniak_chalasinski:2005,
  AUTHOR = {J. E. Rode and J. Kłos and {\L}. Rajchel and M. M. Szczęśniak and G. Chałasiński and A. Buchachenko},
  TITLE = {Interactions in open-shell clusters: \textit{ab initio} study of pre-reactive complex {O$(^3P)$+HCl}},
  JOURNAL = {J. Phys. Chem. A},
  VOLUME = 109,
  PAGES = 11484,
  YEAR = 2005,
  DOI = {10.1021/jp053419q}
}
</pre>
</p>
<p><a name="tsch_klos_rajchel_krems:2007"></a><pre>
@ARTICLE{tsch_klos_rajchel_krems:2007,
  AUTHOR = {T. V. Tscherbul and J. Kłos and {\L}. Rajchel and R. V. Krems},
  TITLE = {Fine and hyperfine interactions in cold {YbF--He} collisions in electromagnetic fields},
  JOURNAL = {Phys. Rev. A},
  VOLUME = 75,
  PAGES = 033416,
  YEAR = 2007,
  DOI = {10.1103/PhysRevA.75.033416}
}
</pre>
</p>
<p><a name="rajchel_zuchowski_klos_szczesniak_chalasinski:2007"></a><pre>
@ARTICLE{rajchel_zuchowski_klos_szczesniak_chalasinski:2007,
  AUTHOR = {{\L}. Rajchel and P. S. Żuchowski and J. Kłos and M. M. Szczęśniak and G. Chałasiński},
  TITLE = {Interactions of transition metal atoms in high-spin states: {Cr$_2$}, {Sc--Cr}, and {Sc--Kr}},
  JOURNAL = {J. Chem. Phys.},
  VOLUME = 127,
  PAGES = 244302,
  YEAR = 2007,
  DOI = {10.1063/1.2805390}
}
</pre>
</p>
<p><a name="klos_zuchowski_rajchel_szczesniak_chalasinski:2008"></a><pre>
@ARTICLE{klos_zuchowski_rajchel_szczesniak_chalasinski:2008,
  TITLE = {Nonadditive interactions in $ns^2$ and spin-polarized $ns$ metal atom trimers},
  AUTHOR = {J. Kłos and P. S. Żuchowski and {\L}. Rajchel and M. M. Szczęśniak and G. Chałasiński},
  JOURNAL = {J. Chem. Phys.},
  VOLUME = 129,
  PAGES = 134302,
  YEAR = 2008,
  DOI = {10.1063/1.2982801}
}
</pre>
</p>
<p><a name="rajchel_zuch_szczesniak_chal:2010_cpl"></a><pre>
@ARTICLE{rajchel_zuch_szczesniak_chal:2010_cpl,
  AUTHOR = {{\L}. Rajchel and P. S. Żuchowski and M. M. Szczęśniak and G. Chałasiński},
  TITLE = {Derivation of the supermolecular interaction energy from the monomer densities in the density functional theory},
  JOURNAL = {Chem. Phys. Lett.},
  VOLUME = 486,
  PAGES = 160,
  YEAR = 2010,
  DOI = {10.1016/j.cplett.2009.12.083}
}
</pre>
</p>
<p><a name="rajchel_zuch_szczesniak_chal:2010_prl"></a><pre>
@ARTICLE{rajchel_zuch_szczesniak_chal:2010_prl,
  AUTHOR = {{\L}. Rajchel and P. S. Żuchowski and M. M. Szczęśniak and G. Chałasiński},
  TITLE = {A DFT approach to non-covalent interactions via monomer polarization and Pauli blockade},
  JOURNAL = {Phys. Rev. Lett.},
  VOLUME = 104,
  PAGES = 163001,
  YEAR = 2010,
  DOI = {10.1103/PhysRevLett.104.163001}
}
</pre>
</p>
<p><a name="rajchel_zuch_hapka_szczesniak_chal:2010_pccp"></a><pre>
@ARTICLE{rajchel_zuch_hapka_szczesniak_chal:2010_pccp,
  AUTHOR = {{\L}. Rajchel and P. S. Żuchowski and M. Hapka and M. Modrzejewski and M. M. Szczęśniak and G. Chałasiński},
  TITLE = {Density functional theory approach to noncovalent interactions via interacting monomer densities},
  JOURNAL = {Phys. Chem. Chem. Phys.},
  VOLUME = 12,
  PAGES = 14686,
  YEAR = 2010,
  DOI = {10.1039/C0CP00626B}
}
</pre>
</p>
<hr><p><em>This file has been generated by
<a href="http://www.lri.fr/~filliatr/bibtex2html/">bibtex2html</a> 1.75</em></p>
</body>
</html>
